<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestWithQuickSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1FC6C64D1F01AED900F6B8CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FC6C6661F01AEDA00F6B8CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FC6C6711F01AEDA00F6B8CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
